@charset "UTF-8";
/* Обнуление стилей */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

main {
  position: relative;
}

textarea {
  border: 2px solid black;
  padding: 10px;
  resize: none;
}

/* Общие и технические классы */
h1 {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

h2 {
  color: #545454;
  font-size: 44px;
  line-height: 57px;
}

h3 {
  color: #545454;
  font-size: 35px;
  line-height: 45.5px;
}

.enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 15px 0;
  width: 1000px;
}

.keyboard {
  margin: 0 auto;
  padding: 10px;
  width: 845px;
  height: 300px;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}

.k-key {
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  padding: 3px;
  background-color: white;
}

.changelang {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin: 25px;
  font-size: 24px;
}

.infotext {
  margin: 20px auto;
  width: 500px;
  font-size: 24px;
  text-align: center;
}

.lang-btn {
  background-color: transparent;
  padding: 5px;
  border: solid 2px black;
}

.Backspace {
  width: 110px;
}

.Tab {
  background-color: #e9e9e9;
  width: 80px;
}

.Enter {
  background-color: #e9e9e9;
  width: 80px;
}

.CapsLock {
  background-color: #e9e9e9;
  width: 110px;
}

.Shift {
  background-color: #e9e9e9;
  width: 110px;
}

.Alt {
  background-color: #e9e9e9;
  width: 60px;
}

.Space {
  border-radius: 5%;
  background-color: #e9e9e9;
  width: 590px;
}

.Up, .Left, .Down, .Right {
  background-color: #e9e9e9;
}

.Ctrl {
  width: 110px;
  background-color: #e9e9e9;
}

.caps-active {
  background-color: purple;
}

.active {
  border-radius: 50%;
  background-color: orchid;
}

.active-lng {
  background-color: orchid;
}
