/* Общие и технические классы */

h1 {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: 0.06em;
}

h2 {
  color: #545454;
  font-size: 44px;
  line-height: 57px;
}

h3 {
  color: #545454;
  font-size: 35px;
  line-height: 45.5px;
}