.enter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0;
  width: 1000px;
}

.keyboard {
  margin: 0 auto;
  padding: 10px;
  width: 845px;
  height: 300px;
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.k-key {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  padding: 3px;
  background-color: white;
  &:active {
    background-color: rebeccapurple;
  }
}

.Backspace {
  width: 110px;
}

.Tab {
  background-color: #e9e9e9;
  width: 80px;
}

.Enter {
  background-color: #e9e9e9;
  width: 80px;
}

.Caps {
  background-color: #e9e9e9;
  width: 110px;
}

.Shift {
  background-color: #e9e9e9;
  width: 110px;
}

.Alt {
  background-color: #e9e9e9;
  width: 80px;
}

.Space {
  background-color: #e9e9e9;
  width: 435px;
}

.Up, .Left, .Down, .Right {
  background-color: #e9e9e9;
}

.Ctrl {
  background-color: #e9e9e9;
}